mypython
flask_session
*__pycache__*
*/__pycache__/*
*.pyc
db.sqlite3
*.DS_Store
/*_session/
venv
.idea
app/conversation/gpt
app/conversation/gpt2-lindner
app/conversation/gpt2-wagenknecht

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
