<!DOCTYPE html> 
<html lang="de">
    <head>
        <!-- Meta tags -->
        <meta http-equiv="content-Type" content="text/html; utf-8" />
        <!-- <meta http-equiv="Pragma" content="cache" /> -->
        <meta name="robots" content="INDEX,FOLLOW" />
        <meta http-equiv="content-Language" content="de" />
        <meta name="description" content="ThisIsNotARealTalkshow is an art/entertainment project that wants to highlight the triviality of German political talk shows by allowing everybody to create their own." />
        <meta name="keywords" content="TINART ThisIsNotARealTalkshow NLP AI 3D talkshow politics simulation" />
        <meta name="author" content="Igor Lapinski" />
        <meta name="publisher" content="Igor Lapinski" />
        <meta http-equiv="Reply-to" content="igor.lapinski@code.berlin" />
        <meta name="revisit-after" content="7 days" />

        <!-- CSS -->
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/sentiment.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <title>
            TINART App
        </title>
    </head>
    <body>

        <video autoplay muted loop class="background-video" id="backgroundVideo">
            <source src="../static/img/video/bg_red-lines.mp4" type="video/mp4">
          </video>

        <button class="exit" color="red" onclick="location.href='../index.html';">
            <img src="../static/img/icons/close-fullscreen.svg">
        </button>

        <div class="discussion-view">
            <div class="speaker" id="speaker" person="none" sentiment="none"></div>
            <div class="subtitles" id="subtitles">
                
            </div>
    
            <div class="chatbox">
                <form id="sendMessage" method="POST" action="/message">
                    <button class="settings" color="red">
                        <img src="../static/img/icons/settings.svg">
                    </button>
                    <input id="text" placeholder="Type your message...">
                    </input>
                    <button type="submit" class="send" color="red">
                        <img src="../static/img/icons/send.svg">
                    </button>
                </form>
            </div>
        </div>
    </body>
    <script src="../static/js/tinart_app.js"></script>
    <script>
        document.getElementById('backgroundVideo').playbackRate = 0.8;
    </script>
    <script>
    $("#sendMessage").submit(function (event) {
        event.preventDefault();

        // Append message to chat field
        let question = $('#text').val();
        $('#text').val('');
        // $('#chat').scrollTop($('#chat')[0].scrollHeight);

        const form = $(this);
        const url = form.attr("action");

        $.ajax({
            url: url,
            method: "POST",
            async: true,
            data: {"question": question},
            dataType: "json",
            success: function (next_utterance) {
                $('#subtitles').html("<mark><b>[" + next_utterance["next_speaker"] + "]</b> " + next_utterance["answer"] + "</mark>");
                $("#speaker").attr('person', next_utterance["next_speaker"].toLowerCase());
                $("#speaker").attr('sentiment', next_utterance["sentiment"]);
            }
        })
    })
</script>
</html>