<!DOCTYPE html> 
<html lang="de">
    <head>
        <!-- Meta tags -->
        <meta http-equiv="content-Type" content="text/html; utf-8" />
        <meta http-equiv="Pragma" content="cache" />
        <meta name="robots" content="INDEX,FOLLOW" />
        <meta http-equiv="content-Language" content="de" />
        <meta name="description" content="ThisIsNotARealTalkshow is an art/entertainment project that wants to highlight the triviality of German political talk shows by allowing everybody to create their own." />
        <meta name="keywords" content="TINART ThisIsNotARealTalkshow NLP AI 3D talkshow politics simulation" />
        <meta name="author" content="Igor Lapinski" />
        <meta name="publisher" content="Igor Lapinski" />
        <meta http-equiv="Reply-to" content="igor.lapinski@code.berlin" />
        <meta name="revisit-after" content="7 days" />

        <!-- CSS -->
        <link href="./assets/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

        <title>
            TINART
        </title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo"></div>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section id="start">
            <div class="center-block">
                <h2>
                    Lorem ipsum dolor sit amet
                </h2>
                <p type="lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. 
                </p>
                <button color="red" size="big" onclick="location.href='./app/index.html';">
                    Play
                </button>
            </div>
            <div class="studio-preview">
            </div>
        </section>

        <section id="newsletter">
            <h2>
                Newsletter
            </h2>
            <div class="container">
                <div class="text">
                    <p type="lead" class="description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                    </p>
                </div>
                <div class="form">
                    <input placeholder="Mail"></input>
                    <button color="red">Done</button>
                </div>
            </div>
        </section>

        <section id="team">
            <div class="container">
                <h2>
                    Team
                </h2>
                <p type="lead" class="description">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                </p>
                <div class="team-profiles">
                    <div class="member">
                        <div class="picture" id="jakob">
                        </div>
                        <div class="text">
                            <h4>Jakob Schmitt</h4>
                            <p type="lead">SE Experte</p>
                        </div>
                    </div>
    
                    <div class="member">
                        <div class="picture" id="igor">
                        </div>
                        <div class="text">
                            <h4>Igor Lapinski</h4>
                            <p type="lead">ID Experte</p>
                        </div>
                    </div>
    
                    <div class="member">
                        <div class="picture" id="victor">
                        </div>
                        <div class="text">
                            <h4>Victor Bellu</h4>
                            <p type="lead">PM Experte</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <h2>
                Contact
            </h2>
            <div class="container">
                <div class="text">
                    <p type="lead" class="description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                    </p>
                </div>
                <div class="form">
                    <input placeholder="Name"></input>
                    <input placeholder="Mail"></input>
                    <textarea placeholder="Nachricht"></textarea>
                    <button color="red">Done</button>
                </div>
            </div>
        </section>
        <footer>
            <nav>
                <div>TINART</div>
                <ul>
                    <li><a href="#about">Datenschutz</a></li>
                    <li><a href="#team">Impressum</a></li>
                    <li><a href="#contact">CODE University</a></li>
                </ul>
            </nav> 
        </footer>
    </body>
</html>